@use '../../styles/base/corner-radius';
@use '../../styles/base/spacing';
@use '../../styles/base/typography';

@use '../../styles/settings/colors';

.button-container {
  align-items: center;
  background-color: colors.$primary-base;
  border-radius: 0.75rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: all 0.3s ease-in-out;
  padding: 1rem 2rem;
  width: 100%;
  color: white;
  border: none;
  color: colors.$white;
}
