// brand colors
$sol: color-brand-50;
$neptuno: color-brand-100;
$atocha: color-brand-150;

// secondary colors
$sierra: color-secondary-50;

// feedback colors
$info-base: color-feedbackInfo-100;
$info-decorative: color-feedbackInfo-150;
$info-soft: color-feedbackInfo-200;
$warning-accesible: color-feedbackWarning-50;
$warning-base: color-feedbackWarning-100;
$warning-decorative: color-feedbackWarning-150;
$warning-soft: color-feedbackWarning-200;
$succesful-accesible: color-feedbackSuccess-50;
$succesful-base: color-feedbackSuccess-100;
$succesful-decorative: color-feedbackSuccess-150;
$succesful-soft: color-feedbackSuccess-200;
$error-base: color-feedbackError-100;
$error-decorative: color-feedbackError-150;
$error-soft: color-feedbackError-200;

// accent colors
$primary-base: color-accentPrimary-50;
$primary-01: color-accentPrimary-100;
$primary-02: color-accentPrimary-150;
$secondary-base: color-accentSecondary-50;
$secondary-01: color-accentSecondary-100;
$secondary-02: color-accentSecondary-150;
$tertiary-base: color-accentTertiary-50;
$tertiary-01: color-accentTertiary-100;
$teruiary-02: color-accentTertiary-150;
$contrast-01: color-accentContrast-100;
$contrast-02: color-accentContrast-150;
$primary-link: color-accentPrimaryLink-50;
$focus: color-accentFocus-50;

// screen fill colors
$base: color-screen-50;
$neutral: color-screen-100;

// static colors
$black: color-static-50;
$white: color-static-100;
$neutral-03: color-static-150;
