// brand colors
$sol: color-brand-50;
$neptuno: color-brand-100;
$atocha: color-brand-150;

// secondary colors
$sierra: color-secondary-50;

// feedback colors
$info-base: color-feedbackInfo-100;
$info-decorative: color-feedbackInfo-150;
$info-soft: color-feedbackInfo-200;
$warning-accesible: color-feedbackWarning-50;
$warning-base: color-feedbackWarning-100;
$warning-decorative: color-feedbackWarning-150;
$warning-soft: color-feedbackWarning-200;
$succesful-accesible: color-feedbackSuccess-50;
$succesful-base: color-feedbackSuccess-100;
$succesful-decorative: color-feedbackSuccess-150;
$succesful-soft: color-feedbackSuccess-200;
$error-base: color-feedbackError-100;
$error-decorative: color-feedbackError-150;
$error-soft: color-feedbackError-200;

// accent colors
$primary-base: color-accentPrimary-50;
$primary-01: color-accentPrimary-100;
$primary-02: color-accentPrimary-150;
$secondary-base: color-accentSecondary-50;
$secondary-01: color-accentSecondary-100;
$secondary-02: color-accentSecondary-150;
$tertiary-base: color-accentTertiary-50;
$tertiary-01: color-accentTertiary-100;
$teruiary-02: color-accentTertiary-150;
$contrast-01: color-accentContrast-100;
$contrast-02: color-accentContrast-150;
$primary-link: color-accentPrimaryLink-50;
$focus: color-accentFocus-50;

// screen fill colors
$base: color-screen-50;
$neutral: color-screen-100;

// static colors
$black: color-static-50;
$white: color-static-100;
$neutral-03: color-static-150;

$color-brand-50: #fed132;
$color-brand-100: #236df6;
$color-brand-150: #ff6641;

$color-secondary-50: #e5e5e533;

$info-base: #b100e8;
$info-decorative: #f3ccff;
$info-soft: #fdf5ff;
$warning-accesible: #c24400;
$warning-base: #f55600;
$warning-decorative: #ffceb3;
$warning-soft: #fff2eb;
$succesful-accesible: #197b75;
$succesful-base: #1f9991;
$succesful-decorative: #bff2ef;
$succesful-soft: #f2fcfc;
$error-base: #db1029;
$error-decorative: #fccfd5;
$error-soft: #fef1f2;

$primary-base: #1463f5;
$primary-01: #0953dc;
$primary-02: #0741ab;
$secondary-base: #1463f5;
$secondary-01: #e7effe;
$secondary-02: #ccdbff;
$tertiary-base: #1b1b18;
$tertiary-01: #f3f3f1;
$tertiary-02: #c4c4ba;
$contrast-01: #e7effe;
$contrast-02: #ccdbff;
$primary-link: #1463f5;
$focus: #1b1b18;

$base: #ffffff;
$neutral: #f3f3f1;

$black: #1b1b18;
$white: #ffffff;
$neutral-03: #6e6e5e;
