$spacing-50: 0.125rem;
$spacing-100: 0.25rem;
$spacing-150: 0.5rem;
$spacing-200: 0.75rem;
$spacing-250: 1rem;
$spacing-300: 1.5rem;
$spacing-350: 2rem;
$spacing-400: 2.5rem;
$spacing-450: 3rem;
$spacing-500: 4rem;
$spacing-550: 8rem;
